{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'main:home' %}"><img src="static/assets/logo1.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'main:home' %}">Home</a></li>
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blogs</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="{% url 'main:blogs' %}">Blogs</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:blog-create' %}">Create Blog</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownReview" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reviews</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownReview">
                        <li><a class="dropdown-item" href="{% url 'main:reviews' %}">Reviews</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:review-create' %}">Create Review</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownReview" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Log in/out</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownReview">
                        <li><a class="dropdown-item" href="{%url 'main:login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{%url 'main:logout' %}">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'main:contact' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- ================================
End Navigation Bar
================================= -->
